<div class="create-project">
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Project</mat-label>
        <input matInput type="text" [(ngModel)]="projectName">
    </mat-form-field>
    <button mat-raised-button [disabled]="projectName===''" color="primary" (click)="addProject()">Add Project</button>
</div>

<div class="project-list">
    <div *ngFor="let project of projects;let i = index">
        <div>{{project.name}}</div>

        <button mat-raised-button color="primary" (click)="selectProject(i)">Select
            Project</button>
        <button mat-raised-button color="primary" (click)="removeProject(i)">delete
            Project</button>
    </div>
</div>